# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Variables sensibles
terraform.tfvars
*.tfvars

# Archivos de logs y configuraciones temporales
*.log
*.bak
*.swp
*.zip

# Directorios de configuración de IDEs
.vscode/
.idea/
.DS_Store

# Archivos de credenciales de AWS
.aws/
environments/dev/.terraform/


# Ignore all ZIPs from Lambda packages
environments/*/*.zip

# Optional: Exclude only certain Lambda zip files
# environments/dev/lambda*.zip
# environments/qa/lambda*.zip
